<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<import resource="sql-config.xml"/>

<bean id="greetingService"
class="com.project.service.GreetingServiceImpl" />
 
<bean class="org.springframework.remoting.rmi.RmiServiceExporter">
<property name="serviceName" value="greetingService" />
<property name="service" ref="greetingService" />
<property name="serviceInterface" value="com.project.interfaces.GreetingService"/>
<property name="registryPort" value="${serverport}" />
</bean>

</beans>
